.App {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    font-size: 2rem;
    padding-top: 3rem;
}

.hbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

