.top-wrapper {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.card {
    margin: 2rem;
    border-radius: 0.35rem !important;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.7rem rgb(177, 177, 177);
    transition: 0.125s all ease-in-out;
    display: flex;
    flex-flow: column nowrap;
}

.card:hover {
    box-shadow: 0 0.5rem 0.7rem gray;

}

input[type=text], .date-input {
    border: none !important;
    border-bottom: solid 1px gray !important;
    margin: 0 0.5rem !important;
    padding-bottom: 0.3rem;
    transition: 0.125s all ease-in-out;
}

input[type=text]::placeholder {
    padding: 0 0 0 0.5rem;
    opacity: 1;
    transition: 0.23s all ease-in-out;
}

input[type=text]:focus, .date-input:focus {
    outline: none;
    margin-bottom: -2px !important;
    border-bottom: 3px solid rgb(27, 73, 116) !important;
}

input[type=text]:focus::placeholder {
    opacity: 0;
}

.first-line {
    padding: 2rem;
}

.title-input {
    font-weight: bold;
    font-size: 4rem;
    width: 100%;
    height: 5.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem !important;
}

.tag-input {
    font-size: 1.4rem;
    height: 2.4rem;
}

.second-line {
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding: 2rem 0;
}

button {
    background-color: rgb(27, 73, 116);
    border: none;
    border-radius: 0.35rem !important;
    color: white;
    position: relative;
    bottom: 0;
    transition: 0.125s all ease-in-out !important;
}

button:hover {
    box-shadow: 0 0.25rem 0.7rem rgb(177, 177, 177);
    bottom: 0.25rem;
}

button:active {
    color: rgb(27, 73, 116);
    background-color: white;
}

.tag-btn {
    margin: 0 0.5rem;
    align-self: stretch;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

.date-input {
    font-size: 1.7rem;
}

.add-btn {
    margin-left: 3rem;
    align-self: flex-start;
    font-size: 3rem;
    min-width: 7rem;
    min-height: 7rem;
}

.sort-wrapper {
    justify-content: flex-end;
    padding: 1rem;
    border-bottom:rgb(27, 73, 116) 3px solid;
}

.sort-wrapper > button, .modal-btn {
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
}

.item-wrapper {
    width: 66%;
    margin: auto;
}