.top-wrapper {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.card {
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.7rem rgb(177, 177, 177);
    transition: 0.125s all ease-in-out;
    display: flex;
    flex-flow: column nowrap;
}

.card:hover {
    box-shadow: 0 0.5rem 0.7rem gray;

}

input[type=text], .date-input {
    border: none;
    border-bottom: solid 1px gray;
    margin: 0 0.5rem;
    padding-bottom: 0.3rem;
    transition: 0.125s all ease-in-out;
}

input[type=text]::placeholder {
    padding: 0 0 0 0.5rem;
    opacity: 1;
    transition: 0.23s all ease-in-out;
}

input[type=text]:focus, .date-input:focus {
    outline: none;
    margin-bottom: -3px;
    border-bottom: 3px solid black;
}

input[type=text]:focus::placeholder {
    opacity: 0;
}

.first-line {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.title-input {
    font-size: 2.2rem;
    height: 2.5rem;
}

.tag-input {
    font-size: 1.4rem;
    height: 2.4rem;
}

.tag-btn {
    font-size: 1.4rem;
    height: 2.4rem;
    border: none;
}

.date-input {
    font-size: 1.7rem;
}

.add-btn {
    margin: 0 0.5rem;
    background-color: rgb(100, 180, 255);
    border: none;
    border-radius: 0.75rem;
    color: white;
    width: 100%;
    align-self: stretch;
    font-size: 3rem;

    position: relative;
    bottom: 0;
    transition: 0.125s all ease-in-out;
}

.add-btn:hover {
    box-shadow: 0 0.25rem 0.7rem rgb(177, 177, 177);
    bottom: 0.25rem;
}

.add-btn:active {
    color: rgb(100, 180, 255);
    background-color: white;
}

